<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attitudes_count</key>
	<integer>1</integer>
	<key>comments_count</key>
	<integer>0</integer>
	<key>created_at</key>
	<string>刚刚</string>
	<key>idstr</key>
	<string>3824316036693990</string>
	<key>pic_urls</key>
	<array/>
	<key>reposts_count</key>
	<integer>3</integer>
	<key>retweeted_status</key>
	<dict>
		<key>attitudes_count</key>
		<integer>2</integer>
		<key>comments_count</key>
		<integer>0</integer>
		<key>created_at</key>
		<string>3分钟前</string>
		<key>idstr</key>
		<string>3824315345048798</string>
		<key>pic_urls</key>
		<array/>
		<key>reposts_count</key>
		<integer>16</integer>
		<key>source</key>
		<string>来自iPhone客户端</string>
		<key>text</key>
		<string>“你漂不漂亮”～“漂亮”～最近发了好多成精的萌宠，想看更多图片视频，请关注我[太开心]http://t.cn/RA2Nh5u</string>
		<key>user</key>
		<dict>
			<key>mbrank</key>
			<integer>2</integer>
			<key>mbtype</key>
			<integer>11</integer>
			<key>name</key>
			<string>萌宠画报</string>
			<key>profile_image_url</key>
			<string>http://tp2.sinaimg.cn/2390694421/50/5711472339/0</string>
			<key>vip</key>
			<true/>
		</dict>
	</dict>
	<key>source</key>
	<string>来自iPhone客户端</string>
	<key>text</key>
	<string>[笑cry]萌化//@好奇博士:嗯～//@同学你该吃药了:哈哈哈漂亮//@验算纸:又成精了[笑cry]//@猎奇菌:咪咪就是聪明//@水果酱:乖哦。嗯～</string>
	<key>user</key>
	<dict>
		<key>mbrank</key>
		<integer>1</integer>
		<key>mbtype</key>
		<integer>12</integer>
		<key>name</key>
		<string>趣事搞笑百科</string>
		<key>profile_image_url</key>
		<string>http://tp2.sinaimg.cn/2390654513/50/22820920787/1</string>
		<key>vip</key>
		<true/>
	</dict>
	<key>isVip</key>
	<true/>
</dict>
</plist>
